.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

.font-size{
  font-size: 14px;
}

.img-size {
  height: 100px;
}

.hint-style {
  font-size: 10px;
  color: gray;
  margin-bottom: 6px;
}