<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab One
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <mat-horizontal-stepper #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <ng-template matStepLabel>Card</ng-template>

      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center"><img class="img-size" src="../../assets/images/frontThaiCard.jpg"
            alt=""></ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center"><img class="img-size" src="../../assets/images/backThaiCard.jpg"
            alt=""></ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3"></ion-col>
        <ion-col size="6" class="ion-text-center"><img class="img-size" src="../../assets/images/oweThaiCard.jpg"
            alt=""></ion-col>
        <ion-col size="3"></ion-col>
      </ion-row>

      <ion-item>
        <ion-label class="font-size">รหัสบัตรประชาชน</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-size">หมายเลขด้านหลังบัตรประชาชน</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-size">ชื่อ</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-size">นามสกุล</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-size">เพศ</ion-label>
        <ion-select placeholder="เลิือก">
          <ion-select-option value="male">ชาย</ion-select-option>
          <ion-select-option value="female">หญิง</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="font-size">วันเดือนปีเกิด</ion-label>
        <ion-datetime placeholder="เลิือก"></ion-datetime>
      </ion-item>
      <ion-item>
        <ion-label class="font-size" position="floating">ที่อยู่ตามบัตรประชาชน</ion-label>
        <ion-textarea rows="6" cols="20"></ion-textarea>
      </ion-item>
      <div class="ion-margin-top hint-style">
        กรุณาตรวนสอบให้แน่ใจว่าข้อมูลนี่เป็นความจริงและถูกต้อง
      </div>
      <button style="width: 100%;" mat-raised-button color="primary" matStepperNext>ขั้นตอนต่อไป</button>
    </mat-step>


    <mat-step [stepControl]="secondFormGroup">
      <ng-template matStepLabel>Address</ng-template>
      <div>
        <ion-item>
          <ion-label class="font-size">อีเมล</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
            <ion-label class="font-size" position="floating">ที่อยู่ปัจจุบัน</ion-label>
            <ion-textarea rows="6" cols="20"></ion-textarea>
        </ion-item>
        <div class="ion-margin-top hint-style">
          กรุณาตรวนสอบให้แน่ใจว่าข้อมูลนี่เป็นความจริงและถูกต้อง
        </div>
        <!-- <button mat-button matStepperPrevious>Back</button> -->
        <button style="width: 100%;" mat-raised-button color="primary" matStepperNext>ขั้นตอนต่อไป</button>
      </div>

    </mat-step>
    <mat-step [stepControl]="thridFormGroup">
      <ng-template matStepLabel>secondPerson</ng-template>
      <ion-item>
        <ion-label class="font-size">ความสัมพันธ์</ion-label>
        <ion-select class="font-size" placeholder="เลิือก">
          <ion-select-option>บิดา</ion-select-option>
          <ion-select-option>มารดา</ion-select-option>
          <ion-select-option>ญาติ</ion-select-option>
          <ion-select-option>พี่/น้อง</ion-select-option>
          <ion-select-option>ภรรยา</ion-select-option>
          <ion-select-option>หลาน</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label class="font-size">ชื่อ</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-size">นามสกุล</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="font-size">หมายเลยโทรศัพย์</ion-label>
        <ion-input></ion-input>
      </ion-item>
      <div class="ion-margin-top hint-style">
        กรุณาตรวนสอบให้แน่ใจว่าข้อมูลนี่เป็นความจริงและถูกต้อง
      </div>
      <button style="width: 100%;" mat-raised-button color="primary">ส่ง</button>
    </mat-step>
  </mat-horizontal-stepper>
</ion-content>